* {
  margin:0;
  padding:0;
} /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  overflow: hidden;
  
} /* just to be sure these are full screen*/

canvas, video, div {
  display:block;
  position: absolute;
  left: 0;
  top: 0;
} /* To remove the scrollbars */

video {
  object-fit: cover;
}

div {
  z-index: 100;
  display: block;
  position: absolute;
}