* {
  margin:0;
  padding:0;
} /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  overflow: hidden;
  
} /* just to be sure these are full screen*/

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

div.panel {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: ghostwhite;
}

div.panel > * {
  zoom: 1.4;
}



canvas {
  z-index: 100;
}


p {
  margin: 1em;
}